.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}


.paragraph {
  font-size: 2rem;
  text-align: center;
  color: rgb(237, 234, 234);
}